/* .post img.postLogo{
  height: 20px;
  float: right;
  cursor: pointer;
  margin-right: 15px;
} */
.post .post-content{
  float: left;
  position: relative;
  top: -8px;
  padding: 0 0 0 10px;
  /* padding: 0 0 0 20px; */
}
.post .post-user{
  float: left;
  padding: 10px 0 20px 10px;
}
.post-footer{
  margin-top: 0 0 0 10px;
}
.post-footer input{
  background: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  cursor: pointer;
  margin: 0 10px 0 10px;
  transition: all .1s;
}
.post-footer input:hover{
  background: rgb(210, 210, 210);
  border-color: rgb(210, 210, 210);
}
