{% extends 'form.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style media="screen">

  </style>
</head>
<body>
  <div class="post">
    <h1 class="title">창문마스터의 대해서</h1>
    창문마스터는 거의 5년정도의 경력을 가지고 있는 창문의 대한 모든 정보와 지식을 깨우치시고 지금도
    배우고 계시는 '창문마스터' 입니다.
  </div>

</body>
</html>

{% endblock %}
